<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.redu.redumobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ReduApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            
        </activity>
        
        <activity android:name=".activities.HomeSpaceActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.EnvironmentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.CoursesActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" 
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.SpaceActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.SubjectActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.StatusDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.RespondStatusActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.LectureWallActivity" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.PostStatusOnSpaceWallActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.PostStatusOnLectureWallActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.LectureActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" 
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.lecture.UploadFileFolderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.lecture.UploadStep1Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.lecture.UploadStep2Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.lecture.UploadStep3Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.lecture.NewFolderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.NewModuleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- BuzzBox -->
        <receiver android:name="com.buzzbox.mob.android.scheduler.SchedulerReceiver" >
            <intent-filter>
                <action android:name="com.buzzbox.mob.android.scheduler.wakeup" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.buzzbox.mob.android.scheduler.ScheduledService" />
    </application>

</manifest>